* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.player-main-container {
    height: 100vh;
    width: 100vw;
}

.main-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 85%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#cardElement {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
    position: relative;
}

#panoramaViewer {
    width: 100%;
    height: 100%;
    position: relative;
}

li {
    list-style: none;
}

li a {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    font-size: 18px;
    padding: 3px 15px;
    background-color: #929090;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    z-index: 10;
}

.zoom-parent {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
}

.zoom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 auto;
}

.actionicons {
    font-size: 23px;
    cursor: pointer;
    margin: 0 10px;
    background-color: #555555;
    color: #fff;
    padding: 4px 11px;
    text-align: center;
    border-radius: 2px;
}

.actionicons:hover {
    background-color: #fc033d;
}

.popup-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 7%;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 3px;
    right: 12px;
    font-size: 2.4rem;
    cursor: pointer;
}
@media screen and (max-width: 1440px) and (orientation: landscape) {
    .image-container {
        width: 85%;
        aspect-ratio: 3.6/2;
    }
    li a {
        top: 10px;
    }
    .zoom-parent {
        bottom: 8px;
    }
}
@media screen and (max-width: 1120px) and (orientation: landscape) {
    .image-container {
        width: 85%;
        aspect-ratio: 4.3/2;
    }
    li a {
        top: 10px;
    }
    .zoom-parent {
        bottom: 8px;
    }
}

@media screen and (max-width: 1024px) {
    .image-container {
        width: 100%;
        aspect-ratio: 16/9;
    }

    .zoom-parent {
        bottom: 10px;
    }

    .control-btn {
        font-size: 18px;
    }

    li a {
        top: 9px;
        font-size: 16px;
        padding: 3px 15px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .image-container {
        width: 100%;
        aspect-ratio: 5/2;
    }
    li a {
        top: 11px;
        font-size: 14px;
        padding: 3px 15px;
    }
    .zoom-parent {
        bottom: 8px;
    }
}

@media screen and (max-width: 768px) {
    .image-container {
        width: 100%;
        height: 50%;
    }

    .control-btn {
        font-size: 16px;
    }

    li a {
        top: 9px;
        font-size: 16px;
        padding: 3px 15px;
    }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
    .image-container {
        width: 90%;
        height: 70%;
    }
    li a {
        top: 5px;
        font-size: 14px;
    }
    .zoom-parent {
        bottom: 5px;
    }
    .actionicons{
        font-size: 22px;
    }
}
@media screen and (max-width: 560px) {
    .image-container {
        width: 100%;
        height: 30%;
    }

    #panoramaViewer {
        max-width: 560px;
    }

    .control-btn {
        font-size: 15px;
    }

    li a {
        top: 5px;
        font-size: 14px;
        padding: 3px 15px;
    }
    .zoom-parent {
        bottom: 1px;
        margin: 0 1px 0 auto;
    }
    .actionicons {
        font-size: 18px;
        margin: 7px;
    }

}
@media screen and (max-width: 560px) and (orientation: landscape) {
    .image-container {
        width: 100%;
        height: 70%;
    }
    li a {
        top: 11px;
        font-size: 14px;
        padding: 3px 15px;
    }
    .zoom-parent {
        bottom: 0px;
    }

   
}
@media screen and (max-width: 425px) {
    .image-container {
        width: 100%;
        height: 30%;
    }

    .control-btn {
        font-size: 14px;
    }

    #panoramaViewer {
        max-width: 425px;
    }

    li a {
        top: 1%;
        font-size: 12px;
    }
    .actionicons {
        font-size: 16px;
        margin: 6px;
    }

    .zoom-parent {
        bottom: 0px;
        margin: 0 1px 0 auto;
    }
}
@media screen and (max-width: 425px) and (orientation: landscape) {
    .image-container {
        width: 100%;
        height: 63%;
    }
    li a {
        top: 11px;
        font-size: 14px;
        padding: 3px 15px;
    }
    .actionicons {
        font-size: 16px;
    }
    .zoom-parent {
        bottom: 5px;
        margin: 0 1px 0 auto;
    }

}

@media screen and (max-width: 375px) {
    .image-container {
        width: 100%;
        height: 30%;
    }

    #panoramaViewer {
        max-width: 375px;
    }

    .control-btn {
        font-size: 13px;
        margin: 5px;
    }

    li a {
        top: 1%;
        font-size: 12px;
    }

    .zoom-parent {
        bottom: -2px;
    }
    .actionicons {
        font-size: 16px;
        padding: 4px 7px;
    }

}
@media screen and (max-width: 375px) and (orientation: landscape) {
    .image-container {
        width: 100%;
        height: 70%;
    }
    li a {
        top: 8px;
        font-size: 14px;
        padding: 3px 15px;
    }
    .zoom-parent {
        bottom: 8px;
    }
}
@media screen and (max-width: 320px) {
    .image-container {
        width: 100%;
        height: 30%;
    }

    #panoramaViewer {
        max-width: 320px;
    }

    .control-btn {
        font-size: 11px;
        margin: 0 5px;
    }

    li a {
        top: 1%;
        font-size: 11px;
    }

    .zoom-parent {
        bottom: 0px;
        margin: 0px;
    }
    .actionicons {
        margin: 6px;
        font-size: 14px;
        padding: 3px 5px;
    }

}

@media screen and (max-width: 260px) {
    .image-container {
        width: 100%;
        height: 25%;
    }

    #panoramaViewer {
        max-width: 260px;
    }

    .control-btn {
        font-size: 10px;
        margin: 0 2px;
    }

    li a {
        top: 1%;
        font-size: 11px;
    }

    .zoom-parent {
        bottom: 0px;
    }
    .actionicons{
        margin: 4px;
        font-size: 14px;
        padding: 3px 5px;
    }
}